<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.eduservice.mapper.EduCourseMapper">

    <!--  sql语句：根据课程id查询课程确认信息  -->
    <select id="getPublishCourseInfo" resultType="com.example.demo.eduservice.entity.vo.CoursePublishVo">
        select ec.id,ec.title,ec.price,ec.lesson_num as lessonNum,ec.cover,
			 et.name as teacherName,
			 es1.title as subjectLevelOne,
			 es2.title as subjectLevelTwo
        from edu_course ec left outer join edu_course_description ecd on ec.id=ecd.id
                                             left outer join edu_teacher et on ec.teacher_id=et.id
                                             left outer join edu_subject es1 on ec.subject_parent_id=es1.id
                                             left outer join edu_subject es2 on ec.subject_id=es2.id
        where ec.id= #{courseId}
    </select>

    <!--  sql语句：根据课程id查询课程确认信息  -->
    <select id="getBaseCourseInfo" resultType="com.example.demo.eduservice.entity.frontvo.CourseWebVo">
        select ec.id,ec.title,ec.price,ec.lesson_num as lessonNum,ec.cover,
               ec.buy_count as buyCount,ec.view_count as ViewCount,ecd.description,
               et.id as teacherId,et.name as teacherName,et.intro,et.avatar,
			   es1.id as subjectLevelOneId,es1.title as subjectLevelOne,
			   es2.id as subjectLevelTwoId,es2.title as subjectLevelTwo
        from edu_course ec left outer join edu_course_description ecd on ec.id=ecd.id
                                             left outer join edu_teacher et on ec.teacher_id=et.id
                                             left outer join edu_subject es1 on ec.subject_parent_id=es1.id
                                             left outer join edu_subject es2 on ec.subject_id=es2.id
        where ec.id= #{courseId}
    </select>
</mapper>
